.dice-pot {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;

  .dice {
    padding: 30px;
    font-size: 90px;
    color: chocolate;
  }
}

.plateau,
.selection {
  margin: 5px;
  border-radius: 10px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  border: 2px solid aliceblue;
  align-items: center;
}
